.main-modal
	.call-back-inner
		form(action="")
			h6
				|Leave your phone number
				br
				|and we will call you back!
			input(type="text" placeholder='FIRST NAME:')
			input(type="text" placeholder='Last Name')
			input(type="text" placeholder='E-MAIL')
			input(type="text" placeholder='PHONE NUMBER')
			input(type="text" placeholder='Comment')
			
			.btn-holder
				a(href="#").button
					.t-holder
						span Call me
							img(src="img/icons/ic_phone_in_talk.svg", alt="")
							img.hover(src="img/icons/ic_phone_in_talk-white.svg", alt="")
	a#callbackclose1.close-btn(href="#")
		img(src="img/icons/modal-close.svg", alt="")
	
