.main-modal.news-modal
	a#newsModalClose.close-btn(href="#")
		img(src="img/icons/modal-close.png", alt="")
	.scroll-holder
		.news-hoolder
			ul.breadcrumbs.inline-holder
				li
					a(href="#") AlphaNavigation
				li
					a(href="#") / News
				li
					a(href="#")
						| / Latvia: BachmannHR Chooses CrewInspector Crewing Software
			ul.news-slider
				li
					.text-holder
						.date
							.number 22
							.month
								span January
								span 2015
						h5
							| V. SHIPS TURKEY ENTERS OFFSHORE CREWING CONTRACT 
							br
							|WITH POLARCUS
						p
							|CrewInspector an online ship crew management system provider has been chosen by BachmannHR Group Ltd to integrate crewing process across the group of companies. Crewing software allows employees to maintain crew data, prepare crew employment contracts and share data easily with rest of the teams residing in different geographic locations at single access point without having any additional software to install. An overview of crew certificate expiry enables to keep the information up to date and to initiate any training activities for respective crew members as soon as required.
					.image-holder
						img.fake-img(src="img/images/news1.jpg", alt="")
						.img(style='background-image: url(img/images/news1.jpg)')
					.social-counters
						<div class="ya-share2" data-services="facebook,twitter,gplus,vkontakte"></div>
				li
					.text-holder
						.date
							.number 20
							.month
								span January
								span 2015
						h5
							| NORWAY: SHIPOWNERS SHOULD HOLD CREWING 
							br
							|AGENTS MORE ACCOUNTABLE
						p
							|CrewInspector an online ship crew management system provider has been chosen by BachmannHR Group Ltd to integrate crewing process across the group of companies. Crewing software allows employees to maintain crew data, prepare crew employment contracts and share data easily with rest of the teams residing in different geographic locations at single access point without having any additional software to install. An overview of crew certificate expiry enables to keep the information up to date and to initiate any training activities for respective crew members as soon as required.
					.image-holder
						img.fake-img(src="img/images/news2.jpg", alt="")
						.img(style='background-image: url(img/images/news2.jpg)')
					.social-counters
						<div class="ya-share2" data-services="facebook,twitter,gplus,vkontakte"></div>
				li
					.text-holder
						.date
							.number 05
							.month
								span January
								span 2015
						h5
							| LATVIA: BACHMANNHR CHOOSES CREWINSPECTOR 
							br
							|CREWING SOFTWARE
						p
							|CrewInspector an online ship crew management system provider has been chosen by BachmannHR Group Ltd to integrate crewing process across the group of companies. Crewing software allows employees to maintain crew data, prepare crew employment contracts and share data easily with rest of the teams residing in different geographic locations at single access point without having any additional software to install. An overview of crew certificate expiry enables to keep the information up to date and to initiate any training activities for respective crew members as soon as required.
					.image-holder
						img.fake-img(src="img/images/news3.png", alt="")
						.img(style='background-image: url(img/images/news3.png)')
					.social-counters
						<div class="ya-share2" data-services="facebook,twitter,gplus,vkontakte"></div>
				li
					.text-holder
						.date
							.number 05
							.month
								span January
								span 2015
						h5
							| LATVIA: BACHMANNHR CHOOSES CREWINSPECTOR 
							br
							|CREWING SOFTWARE
						p
							|CrewInspector an online ship crew management system provider has been chosen by BachmannHR Group Ltd to integrate crewing process across the group of companies. Crewing software allows employees to maintain crew data, prepare crew employment contracts and share data easily with rest of the teams residing in different geographic locations at single access point without having any additional software to install. An overview of crew certificate expiry enables to keep the information up to date and to initiate any training activities for respective crew members as soon as required.
					.image-holder
						img.fake-img(src="img/images/news4.jpg", alt="")
						.img(style='background-image: url(img/images/news4.jpg)')
					.social-counters
						<div class="ya-share2" data-services="facebook,twitter,gplus,vkontakte"></div>
				li
					.text-holder
						.date
							.number 05
							.month
								span January
								span 2015
						h5
							| LATVIA: BACHMANNHR CHOOSES CREWINSPECTOR 
							br
							|CREWING SOFTWARE
						p
							|CrewInspector an online ship crew management system provider has been chosen by BachmannHR Group Ltd to integrate crewing process across the group of companies. Crewing software allows employees to maintain crew data, prepare crew employment contracts and share data easily with rest of the teams residing in different geographic locations at single access point without having any additional software to install. An overview of crew certificate expiry enables to keep the information up to date and to initiate any training activities for respective crew members as soon as required.
					.image-holder
						img.fake-img(src="img/images/news5.jpg", alt="")
						.img(style='background-image: url(img/images/news5.jpg)')
					.social-counters
						<div class="ya-share2" data-services="facebook,twitter,gplus,vkontakte"></div>
			.related-news
				h3 RELATED NEWS
				.related-holder.inline-holder
					.news-item.inline-el
						.date-holder
							.number 13
							.month
								span January
								span 2015
						.image-holder
							img.fake-img(src="img/images/news1.jpg", alt="")
							.img(style='background-image: url(img/images/news1.jpg)')
						.tittle
							a.newsLink(href="#", dataslide='0')
								|V. Ships Turkey Enters Offshore Crewing Contract with Polarcus
					.news-item.inline-el
						.date-holder
							.number 22
							.month
								span January
								span 2015
						.image-holder
							img.fake-img(src="img/images/news2.png", alt="")
							.img(style='background-image: url(img/images/news2.png)')
						.tittle
							a.newsLink(href="#", dataslide='1')
								|Norway: Shipowners Should Hold Crewing Agents More Accountable
					.news-item.inline-el
						.date-holder
							.number 22
							.month
								span January
								span 2015
						.image-holder
							img.fake-img(src="img/images/news3.png", alt="")
							.img(style='background-image: url(img/images/news3.png)')
						.tittle
							a.newsLink(href="#", dataslide='2')
								|Latvia: BachmannHR Chooses CrewInspector Crewing Software
					.news-item.inline-el
						.date-holder
							.number 22
							.month
								span January
								span 2015
						.image-holder
							img.fake-img(src="img/images/news4.jpg", alt="")
							.img(style='background-image: url(img/images/news4.jpg)')
						.tittle
							a.newsLink(href="#", dataslide='3')
								|Latvia: BachmannHR Chooses CrewInspector Crewing Software
					.btn-holder
						a.button(href="#") show more



script(type='text/javascript', src='//yastatic.net/es5-shims/0.0.2/es5-shims.min.js', charset='utf-8')
script(type='text/javascript', src='//yastatic.net/share2/share.js', charset='utf-8')
	
