.main-modal.person-info-modal
	a#personModalClose.close-btn(href="#")
		img(src="img/icons/modal-close.png", alt="")
	.scroll-holder
		.person-info-holder
			ul.person-info-slider
				li
					.image-holder
						img.fake-img(src="img/images/team1.jpg", alt="")
						.img(style='background-image: url(img/images/team1.jpg)')
					.tittle
						h4 Patti Clfford
						h6 Global Head of Comnications & Network Initiatives, Havas Worldwide
					p
						|In her dual roles, Yvonne oversees all the company’s external and internal communication.  organizations, supporting key client initiatives, and evolving tools and platforms to scale best practices across the Creative Group. As leader of the Global Communications team, Yvonne also develops, implements, and evaluates the annual communications plan and coordinates PR efforts for Havas Creative Group globally.
					p
						|Before joining Havas in October 2011, she was an associated partner, winning several new clienttegy, and PR consulting company, Jarchow Communication, for about five years. Her clients included premium online marketplace Born For Sports, German software and technology company Jenomics, and New York film production company Axis Mundi.
					ul.social-holder.inline-holder
						mixin newsocitem(class1)
							li
								a(href="#")
									i.fa(class= class1)
						+newsocitem('fa-facebook')
						+newsocitem('fa-twitter')
						+newsocitem('fa-google-plus')
						+newsocitem('fa-linkedin')
				li
					.image-holder
						img.fake-img(src="img/images/team2.jpg", alt="")
						.img(style='background-image: url(img/images/team2.jpg)')
					.tittle
						h4 Patti Cliffford
						h6 Global Head of Comfmunications & Network Initiatives, Havas Worldwide
					p
						|In her dual roles, Yvonne oversees all the company’s external and internal communication. Her responsibilities include establishing partnerships with leading organizations, supporting key client initiatives, and evoation. Her responsibilities include establishing partnerships with leading organizations, supporting key client initiatives, and evlving tools and platforms to scale best practices across the Creative Group. As leader of the Global Communications team, Yvonne also develops, implements, and evaluates the annual communications plan and coordinates PR efforts for Havas Creative Group globally.
					p
						|Before joining Havas in October 2011, she was an associated partner, winning several new clients and helping drive new business. Yvonne also ran her own marketing, strategy, and PR consulting company, Jarchow Communication, for about five yeegy, and PR consulting company, Jarchow Communication, for about fivars. Her clients included premium online marketplace Born For Sports, German software and technology company Jenomics, and New York film production company Axis Mundi.
					ul.social-holder.inline-holder
						mixin newsocitem(class1)
							li
								a(href="#")
									i.fa(class= class1)
						+newsocitem('fa-facebook')
						+newsocitem('fa-twitter')
						+newsocitem('fa-linkedin')
				li
					.image-holder
						img.fake-img(src="img/images/team3.jpg", alt="")
						.img(style='background-image: url(img/images/team3.jpg)')
					.tittle
						h4 Patti Clifford
						h6 Global Head of Communications & Network Initiatives, Havas Worldwide
					p
						|In her dual roles, Yvonne oversees all the company’s external and internal communication. Her responsibilities include establishing partnerships with leading organizations, supporting key client initiatives, and evolving tools and platforms to scale best practices across the Creative Group. As leader of the Global Communications team, Yvonne also develops, implements, and evaluates the annual communications plan and coordinates PR efforts for Havas Creative Group globally.
					p
						|Before joining Havas in October 2011, she was an associated partner, winning several new clients and helping drive new business. Yvonne also ran her own marketing, strategy, and PR consulting company, Jarchow Communication, for about five years. Her clients included premium online marketplace Born For Sports, German software and technology company Jenomics, and New York film production company Axis Mundi.
					ul.social-holder.inline-holder
						mixin newsocitem(class1)
							li
								a(href="#")
									i.fa(class= class1)
						+newsocitem('fa-facebook')
						+newsocitem('fa-google-plus')
						+newsocitem('fa-linkedin')
				li
					.image-holder
						img.fake-img(src="img/images/team4.jpg", alt="")
						.img(style='background-image: url(img/images/team4.jpg)')
					.tittle
						h4 Patti Clifford
						h6 Global Head of Communications & Network Initiatives, Havas Worldwide
					p
						|In her dual roles, Yvonne oversees all the company’s external and internal communication. Her responsibilities include establishing partnerships with leading organizations, supporting key client initiatives, and evolving toolts, and evaluates the annual communications plan and coordinates PR efforts for Havas Creative Group globally.
					p
						|Before joining Havas in October 2011, she was an associated partner, winning several new clients and helping drive new business. Yvonne also ran her own marketing, t five years. Her clients included premium online marketplace Born For Sports, German software and technology company Jenomics, and New York film production company Axis Mundi.
					ul.social-holder.inline-holder
						mixin newsocitem(class1)
							li
								a(href="#")
									i.fa(class= class1)
						+newsocitem('fa-facebook')
						+newsocitem('fa-twitter')
						+newsocitem('fa-google-plus')
				li
					.image-holder
						img.fake-img(src="img/images/team5.jpg", alt="")
						.img(style='background-image: url(img/images/team5.jpg)')
					.tittle
						h4 Patti Cliford
						h6 Global Head of Comnications & Network Initiatives, Havas Worldwide
					p
						|In her dual roles, Yvonne oversees all the company’s external and internal communicleading organizations, supporting key client initiatives, and evolving tools and platforms to scale best practices across the Creative Group. As leader of the Global Communications team, Yvonne also develops, implements, and evaluates the annual communications plan and coordinates PR efforts for Havas Creative Group globally.
					p
						|Before joining Hav clients and helping drive new business. Yvonne also ran her own marketing, strategy, and PR consulting company, Jarchow Communication, for about five years. Her clients included premium online marketplace Born For Sports, German software and technology company Jenomics, and New York film production company Axis Mundi.
					ul.social-holder.inline-holder
						mixin newsocitem(class1)
							li
								a(href="#")
									i.fa(class= class1)
						+newsocitem('fa-facebook')
						+newsocitem('fa-twitter')
						+newsocitem('fa-google-plus')
						+newsocitem('fa-linkedin')
					
			


