section.top-line(style='background-image: url("img/images/stock-photo-115909437.jpg")')
	.brand-holder
		img(src="img/images/logo.png", alt="")
	.main-nav-holder.inline-holder
		a(href="#" class='callback-holder inline-el')
			span Call back
			img(src="img/icons/callback-img.png", alt="")
		a(href="#" class='menu-holder inline-el')
			span menu
			img(src="img/icons/gumb.png", alt="")

	.description-in-top
		h1 THINKERS. DOERS. THE CREW OF YOUR SUCCESS.
		img(src="img/icons/waves-icon.png", alt="")
		h2 RIGHT HERE. RIGHT NOW.
