.brand-holder.b-in-top
	.image-holder
		a(href="#")
			img(src="img/icons/alpha_logo.svg", alt="")
.main-nav-holder.inline-holder
	a#callback1(href="#" class='callback-holder inline-el')
		span Call back
		img(src="img/icons/ic_phone_in_talk.svg", alt="")
	a(href="#" class='menu-holder inline-el')
		span menu
		#side-open.nav-toggle-button
			span.span1
			span.span2
			span.span3
.side-panel
	//- a#callback2(href="#" class='callback-holder inline-el')
	//- 	span Call back
		img(src="img/icons/ic_phone_in_talk.svg", alt="")
	.close-btn
		a#side-close(href="#")
			img(src="img/icons/ic_clear.svg", alt="")

	.scroll-holder
		ul.menu-list
			li 
				a(href="/index-02.html") HOME
			li 
				a(href="/vacancies-01.html") vacancies
			li
				a(href="/find-a-job-02.html") find a job
			li 
				a(href="/find-talent-01.html") find talent
			li 
				a(href="/database-01.html") our fleet
			li
				a(href="/find-talent-01.html#principals") our principals list
			li
				a(href="/seafarers-testimonials-01.html") testimonials
			li.sec-lv
				a(href="/seafarers-testimonials-01.html") Ship Owners
			li.sec-lv
				a(href="/seafarers-testimonials-01.html") Seafarers
			li 
				a(href="/our-story-01.html") company
			li.sec-lv
				a(href="/our-story-01.html") our story
			li.sec-lv
				a(href="/our-team-01.html") our team
			li.sec-lv
				a(href="/careers-01.html") careers
			li.sec-lv
				a(href="/news-01.html") news
			li
				a(href="/contacts-01.html") contact us
	.socials-holder
		ul.inline-holder
			li
				a(href="#")
					i.fa.fa-facebook
			li
				a(href="#")
					i.fa.fa-twitter
			li
				a.gplus(href="#")
					i.fa.fa-google-plus
			li
				a.linke(href="#")
					i.fa.fa-linkedin
					