
	.brand-holder
		h3 boards.ck.ua
	.main-nav-holder.inline-holder
		a(href="#" class='callback-holder inline-el')
			span Борды
		a(href="#" class='menu-holder inline-el')
			span Реклама в транспорте
		a(href="#" class='menu-holder inline-el')
			span Дизайн
		a(href="#" class='menu-holder inline-el')
			span Печать баннеров
		a(href="#" class='menu-holder inline-el')
			span Промоакции

	
