.brand-holder
	img(src="img/images/logo.png", alt="")
.main-nav-holder.inline-holder
	a(href="#" class='callback-holder inline-el')
		span Call back
		img(src="img/icons/callback-img.png", alt="")
	a(href="#" class='menu-holder inline-el')
		span menu
		#side-open.nav-toggle-button
			span.span1
			span.span2
			span.span3
.side-panel
	.close-btn
		a#side-close(href="#")
			i.material-icons clear
	a(href="/index-02.html")
		h4 HOME
	ul.menu-list
		li 
			a(href="/find-a-job-02.html") find a job
		li.sec-lv
			a(href="/vacancies-01.html") vacancies
		li 
			a(href="/seafarers-testimonials-01.html") seafarers testimonials
		li 
			a(href="/find-talent-01.html") find talent
		li.sec-lv
			a(href="/database-01.html") ship owners references
		li 
			a(href="#") our fleet
		li
			a(href="#") our principals list
		li
			a(href="/our-story-01.html") company
		li.sec-lv
			a(href="/our-story-01.html") our story
		li 
			a(href="/our-team-01.html") our team
		li
			a(href="/careers-01.html") careers
		li
			a(href="/news-01.html") news
		li
			a(href="/contacts-01.html") contact us
	.socials-holder
		ul.inline-holder
			mixin newsocitem(class1)
				li
					a(href="#")
						i.fa(class= class1)
			+newsocitem('fa-facebook')
			+newsocitem('fa-twitter')
			+newsocitem('fa-google-plus')
			+newsocitem('fa-linkedin')