
	.brand-holder
		img(src="img/images/logo.png", alt="")
	.main-nav-holder.inline-holder
		a(href="#" class='callback-holder inline-el')
			span Call back
			img(src="img/icons/callback-img.png", alt="")
		a(href="#" class='menu-holder inline-el')
			span menu
			img(src="img/icons/gumb.png", alt="")

	
