- var mainpage = true

//- //mixins//
mixin aboutitem(header, text)
	.inline-el
		h3.ellipsis-text= header
		p!= text

doctype html
html(lang='en')
	head
		title our-team-01

		include ./partials/head.jade

	body
		include ./partials/preloader.jade
		section.top-line.team-section
			.animate-bg
				.image-holder
					img(src="img/images/our-team-bg.jpg", alt="")
			include ./partials/top-nav.jade
			.table-holder
				.vert-el
					.description-in-top
						h1  OUR CREW
						img(src="img/icons/waves-icon.png", alt="")
						h2 
							|The team whose life path is creating opportunities 
							br
							for thousands of seafarers and hundreds of shipowners.
			include ./partials/down-btn.jade

		section.our-team
			.main-container
				.team-title
					h4 Our Leaders
				ul.leaders-holder.inline-holder.wow.fadeInUp
					mixin newteamitem(dataslide, src, name, manage)
						li.team-item.inline-el
							a.teamLink(href="#", dataslide= dataslide)
								.image-holder
									img.fake-img(src= src, alt= src)
									.img(style='background-image: url( '+src+')')
								.item-name
									h6= name
									p= manage
					+newteamitem(
						'0',
						'img/images/team1.jpg',
						'Patti Clifford',
						'Chief Talent Officer, Havas Group'
					)
					+newteamitem(
						'1',
						'img/images/team2.jpg',
						'Patti Clifford',
						'Chief Talent Officer, Havas Group'
					)
					+newteamitem(
						'2',
						'img/images/team3.jpg',
						'Patti Clifford',
						'Chief Talent Officer, Havas Group'
					)
					+newteamitem(
						'3',
						'img/images/team4.jpg',
						'Patti Clifford',
						'Chief Talent Officer, Havas Group'
					)
					+newteamitem(
						'4',
						'img/images/team5.jpg',
						'Patti Clifford',
						'Chief Talent Officer, Havas Group'
					)

				.team-title
					h4 Our Team

				ul.leaders-holder.inline-holder.wow.fadeInUp
					+newteamitem(
						'0',
						'img/images/team1.jpg',
						'Patti Clifford',
						'Chief Talent Officer, Havas Group'
					)
					+newteamitem(
						'1',
						'img/images/team2.jpg',
						'Patti Clifford',
						'Chief Talent Officer, Havas Group'
					)
					+newteamitem(
						'2',
						'img/images/team3.jpg',
						'Patti Clifford',
						'Chief Talent Officer, Havas Group'
					)
					+newteamitem(
						'3',
						'img/images/team4.jpg',
						'Patti Clifford',
						'Chief Talent Officer, Havas Group'
					)
					+newteamitem(
						'4',
						'img/images/team5.jpg',
						'Patti Clifford',
						'Chief Talent Officer, Havas Group'
					)
					+newteamitem(
						'0',
						'img/images/team1.jpg',
						'Patti Clifford',
						'Chief Talent Officer, Havas Group'
					)
					+newteamitem(
						'1',
						'img/images/team2.jpg',
						'Patti Clifford',
						'Chief Talent Officer, Havas Group'
					)
					+newteamitem(
						'2',
						'img/images/team3.jpg',
						'Patti Clifford',
						'Chief Talent Officer, Havas Group'
					)
					+newteamitem(
						'3',
						'img/images/team4.jpg',
						'Patti Clifford',
						'Chief Talent Officer, Havas Group'
					)
					+newteamitem(
						'4',
						'img/images/team5.jpg',
						'Patti Clifford',
						'Chief Talent Officer, Havas Group'
					)
					+newteamitem(
						'0',
						'img/images/team1.jpg',
						'Patti Clifford',
						'Chief Talent Officer, Havas Group'
					)
					+newteamitem(
						'1',
						'img/images/team2.jpg',
						'Patti Clifford',
						'Chief Talent Officer, Havas Group'
					)
					+newteamitem(
						'2',
						'img/images/team3.jpg',
						'Patti Clifford',
						'Chief Talent Officer, Havas Group'
					)
					+newteamitem(
						'3',
						'img/images/team4.jpg',
						'Patti Clifford',
						'Chief Talent Officer, Havas Group'
					)
					+newteamitem(
						'4',
						'img/images/team5.jpg',
						'Patti Clifford',
						'Chief Talent Officer, Havas Group'
					)
					
					li.team-item.last.inline-el
						.table-holder
							.vert-el
								a(href="#")
									<svg id="SvgjsSvg1000" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="71" height="71"><defs id="SvgjsDefs1001"></defs><path id="SvgjsPath1007" d="M1629 4670L1629 4671L1594 4671L1594 4706L1593 4706L1593 4671L1558 4671L1558 4670L1593 4670L1593 4635L1594 4635L1594 4670Z " fill="#81bb41" transform="matrix(1,0,0,1,-1558,-4635)"></path></svg>
						.item-name
							h6 You?
							p Email to tell us why
							









		include ./partials/footer.jade
		include ./partials/call-back-modal.jade
		include ./partials/personal-info.jade





		include ./partials/scripts.jade
